# object files
*.o

# libraries
*.so

# ROOT library maps
*.rootmap

# ROOT dictionaries
G__*.cxx
G__*.h

# binaries
/bin/*

# HTML documentation
/htmldoc

# temporary files of the documentation
/doc/uml/class_hierarchy_1.pdf
/doc/uml/class_hierarchy_2.pdf

